body {
  background-color: #2b353a;
}

.App {
  text-align: center;
  max-height: 100vh;
}

.title {
  color: #e0e8eb;
  font-weight: 600;
  font-size: 36px !important;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1% !important;
}

.gaugeTitle {
  color: #e0e8eb;
  font-weight: 600;
  font-size: 28px !important;
  margin-bottom: 0;
  padding-top: 3%;
}

.c3-target text {
  fill: #e0e8eb;
  font-size: 44px !important;
}

#chartBG {
  background-color: #465a64;
  border-radius: 4px;
}

.dash {
  background-color: #394850;
  border-radius: 4px;
}

.c3 text {
  fill: #e0e8eb;
}

.c3-legend-item text {
  font-size: 18px !important;
}

.MuiTab-label-56 {
  font-size: 14px !important;
  font-weight: 600;
}

.MuiTypography-root-71 {
  padding: 10px !important;
}

.MuiTypography-body1-80 {
  padding: 10px !important;
}
#refresh-button {
  margin-top: 1.5%;
}

#goal-text {
  color: #394850;
  font-size: 1.2em;
}

#goal-form {
  background-color: #e0e8eb;
  border-radius: 4px;
}

#edit-icon {
  color: blue;
  cursor: pointer;
  max-height: 18px;
}

#save-icon {
  color: red;
  cursor: pointer;
  max-height: 22px;
  margin-top: 5px;
}

#loading-text {
  color: white;
}

.ninety-title {
  margin: 10% !important;
  color: #e0e8eb;
  font-weight: 600;
  font-size: 20px !important;
  font-family: Arial, Helvetica, sans-serif;
}

#update-time {
  color: #e0e8eb;
  padding-left: 5px;
}

.roster-title {
  color: #e0e8eb;
  text-align: left;
  font-size: 1.2em;
}

#roster-panel {
  margin-right: 3%;
}

#roster-release {
  display: flex;
}

#roster {
  min-width: 50%;
}

#test {
  min-width: 300px;
  padding: 0;
  padding-left: 5%;
}

#loading-refresh {
  color: #e0e8eb;
  font-size: 1.2em;
}

/* Mobile views */

@media only screen and (max-width: 850px) {
  #app-bar span {
    font-size: 10px;
  }
  #grid-dash {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  #test2 {
    width: 100% !important;
    min-width: 100%;
    padding: 0;
    padding-left: 5%;
  }
  .gaugeTitle {
    font-size: 18px !important;
    margin-bottom: 0 !important;
  }
  #roster-release {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .title {
    font-size: 24px !important;
  }
}

.c3-tooltip-container {
  color: white !important;
  font-size: 18px !important;
  background-color: #394850 !important;
  border-radius: 4px !important;
}
