body {
  background-color: #2b353a;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.c3-target text {
  fill: #e0e8eb;
  font-size: 44px !important;
}

#chartBG {
  background-color: #465a64;
  border-radius: 4px;
}

.dash {
  background-color: #394850;
}

.c3 text {
  fill: #e0e8eb;
}

/* colors

#465A64
#71C25D
#CE4E5D
#D3A438
#E0E8EB
#394850
#2B353A */
